.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 1rem;
}

.fieldsetContainer {
  width: 100%;
  margin-bottom: 0.5rem;
}

.button {
  margin: 0.5rem;
  padding: 0.5rem;
}

.video {
  background-color: black;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
